.contenedor-testimonio  {
    width: 1170 px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
}

.imagen-testimonio {
    height: 90%;
    width: auto;
}

.nombre-testimonio {
    font-size: 2rem;
    line-height: 1.5;
}

.cargo-testimonio {
    font-size: 1.5rem;
    line-height: 1.5;
}